* {
    margin: 5px;
}

@font-face {
    font-family: Dancing_Script;
    src: url(Dancing_Script/DancingScript-VariableFont_wght.ttf);
}

body {
    background-image: url(mesa.jpg);
    background-size: cover;
    backdrop-filter: unset;
    overflow: hidden;
}

.parent:hover {
    animation-play-state: paused;
}

.parent {
    margin: auto;
    margin-top: 10vh;
    width: 90vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 0px 1fr 0px repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 20px;
    text-align: center;

}

.div1 {
    grid-area: 1 / 2 / 3 / 3;
    /*outline: 3px solid rgb(126, 126, 126);*/
    background-color: #FFFF;
    transform: rotate(7.5deg);
    box-shadow: #505050b2 10px 10px 10px;
    filter: grayscale(0.5);

    & :hover {
        filter: grayscale(0);
    }
}

.div2 {
    width: 90%;
    height: 55%;
    background-image: url(Captura\ de\ tela\ 2023-09-15\ 101420.png);
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-top: 20px;


}

.div3 {
    grid-area: 3 / 2 / 5 / 3;
    /*outline: 3px solid rgb(126, 126, 126);
    background-color: #FFFF;*/
}

.div5 {
    grid-area: 1 / 4 / 3 / 5;
    /*outline: 3px solid rgb(126, 126, 126);;*/
    background-color: #FFFF;
    box-shadow: #505050b2 10px 10px 10px;
    transform: rotate(-5deg);
    translate: 00px 40px;
    filter: grayscale(0.5);
}

.div6 {
    width: 90%;
    height: 55%;
    background-image: url(Captura\ de\ tela\ 2023-09-15\ 102206.png);
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-top: 20px;
}

.div7 {
    grid-area: 3 / 4 / 5 / 5;
    /*outline: 3px solid rgb(126, 126, 126);;
    background-color: #FFFF;*/
}

.div9 {
    grid-area: 1 / 5 / 3 / 6;
    /*outline: 3px solid rgb(126, 126, 126);;*/
    background-color: #FFFF;
    box-shadow: #505050b2 10px 10px 10px;
    transform: rotate(6deg);
    translate: 00px -40px;
    filter: grayscale(0.5);
}

.div10 {
    width: 90%;
    height: 55%;

    background-image: url(Captura\ de\ tela\ 2023-09-18\ 112232.png);
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-top: 20px;
}

.div11 {
    grid-area: 3 / 5 / 5 / 6;
    /*outline: 3px solid rgb(126, 126, 126);;
    background-color: #FFFF;*/
}



.div13 {
    grid-area: 1 / 6 / 3 / 7;
    /*outline: 3px solid rgb(126, 126, 126);;*/
    background-color: #FFFF;
    box-shadow: #505050b2 10px 10px 10px;
    transform: rotate(-5deg);
    translate: 00px 40px;
    filter: grayscale(0.5);
}

.div14 {
    width: 90%;
    height: 55%;
    background-image: url(Captura\ de\ tela\ 2023-09-18\ 112711.png);
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-top: 20px;
    */
}

.div15 {
    grid-area: 3 / 6 / 5 / 7;
    /*outline: 3px solid rgb(126, 126, 126);;
    background-color: #FFFF;*/
}

p {

    font-family: Dancing_Script;
    font-size: 25px;
    animation-play-state: paused;
}

.parent>div:hover {
    filter: grayscale(0);
    transform: scale(1.2);
    transition: 0.6s;
    z-index: 1;
}

@keyframes slides {
    from {
        margin-left: 0%;
    }

    to {
        margin-left: calc(-1*var(--galeryoffset));
    }
}